/*----------Variables----------*/
:root {
  --green: #219026;
  --gray: #dcdbdb;
  --darkgray: #a4b1bd;
  --purple: #7363bf;
  --dark: #0a3641;
  --pink: #ffc0cb;
}

/*----------Global Styling----------*/
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Rockwell", serif;
  src: url("https://use.typekit.net/dsy4yxt.css") format(truetype);
}

body {
  font-family: "Rockwell";
  margin: 0px;
  max-width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.active {
  text-decoration: underline;
  color: var(--dark);
}

/*----------Header and Navigation styling----------*/
a {
  text-decoration: none;
}

header,
footer {
  background-color: var(--green);
  box-shadow: 0 0 4px 0 var(--dark);
  z-index: 1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

header img {
  max-height: 120px;
  margin-left: 15px;
}

nav {
  display: none;
  position: fixed;
  top: 121px;
  background-color: var(--green);
  z-index: 1000;
  right: 0px;
}

nav li {
  display: inline;
  padding: 0px;
  max-width: 100%;
  margin: 10px;
}

nav a,
footer a {
  font-size: 1.4em;
  color: var(--gray);
  padding: 10px;
  font-weight: bold;
}

nav a:hover,
footer a:hover {
  text-decoration: underline;
}

.cart {
  color: var(--gray);
}

/*----------Hamburger Menu Checkbox----------*/
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
  position: absolute;
  width: 100%;
  font-size: 2em;
  border-top: 1px solid black;
}

header label {
  display: none;
  margin-right: 15px;
  font-size: 1.8em;
  color: var(--dark);
}

/*----------Search Feature----------*/
.search {
  color: var(--gray);
}

.search:hover {
  color: var(--dark);
  background-color: var--(--gray);
  cursor: pointer;
}

.search:checked {
  color: yellow;
  background-color: white;
}

/*Breadcrumb navigation*/
.breadcrumbs {
  margin: 0;
  padding: 12px 12px;
  list-style: none;
  background-color: var(--gray);
  text-align: left;
}
.breadcrumbs li {
  display: inline;
  font-size: 12px;
}

.breadcrumbs li + li:before {
  padding: 10px;
  color: black;
  content: "/\00a0";
}

.breadcrumbs li a {
  color: var(--purple);
  text-decoration: none;
}

.breadcrumbs li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/*Main Page*/
main {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.welcome {
  background-image: url("../images/mainimage.jpg");
  background-size: cover;
  background-position-y: bottom;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome h1 {
  background-color: var(--gray);
  border-radius: 42px;
  color: var(--dark);
  font-size: 1em;
  width: 50%;
  height: fit-content;
  text-align: center;
  padding: 3%;
  margin-top: 2em;
}

.welcome a {
  box-shadow: 1px 1px 5px 5px var(--dark);
  border-radius: 42px;
  background-color: var(--green);
  color: var(--gray);
  font-size: 2.2em;
  font-weight: bold;
  padding: 3%;
  width: 50%;
  height: fit-content;
  margin-top: 1em;
}

.welcome a:hover {
  color: var(--dark);
  background-color: var(--darkgray);
}

/*----------Footer Related----------*/

footer {
  text-align: center;
  height: 50px;
  bottom: 0;
  right: 0;
  left: 0;
}

footer li {
  list-style-type: none;
  display: inline;
  padding: 15px;
  margin: 0px;
}

/*----------INSPIRATION PAGE----------*/
.inspiration-main-text {
  text-indent: 10px;
  text-transform: capitalize;
  color: var(--gray);
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 0.7em;
  margin: 0;
  background-color: var(--dark);
}

.inspiration-main-text h1 {
  margin: 0;
}

.inspiration-main {
  display: inline-grid;
  background-color: var(--dark);
  grid-template-rows: 322px;
  width: 100%;
  grid-gap: 10px;
  padding-bottom: 60px;
}

.inspiration-main div {
  border: 1px solid var(--green);
  width: 322px;
  height: 271px;
  justify-self: center;
}

.inspiration-main div:hover {
  opacity: 0.8;
  cursor: pointer;
}

.inspiration-main-image1 {
  background-image: url(../images/inspiration1.jpg);
  order: 2;
}

.inspiration-main-image2 {
  background-image: url(../images/inspiration2.jpg);
  background-size: cover;
  order: 4;
}

.inspiration-main-image3 {
  background-image: url(../images/inspiration3.jpg);
  background-size: cover;
  margin-top: 52px;
  order: 1;
}

.inspiration-main-image4 {
  background-image: url(../images/inspiration4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  order: 3;
}

.modal {
  border: 5px solid white;
  transform: scale(1.2);
  transition: 0.7s;
  z-index: 10;
  position: relative;
}

.modal-container {
  background-color: black;
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 4;
}

/*----------JACKETS PAGE----------*/
.jackets-main {
  background-color: var(--dark);
  padding: 50px 0px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto;
  text-align: center;
  color: var(--gray);
  width: 100%;
}

.collection {
  background-color: var(--dark);
  color: white;
  font-size: 2em;
  margin: auto;
  text-align: center;
  padding-top: 1%;
}

.jackets-main h2 {
  color: var(--dark);
  background-color: var(--gray);
  max-width: max-content;
  font-size: 16px;
  position: absolute;
  bottom: 178px;
  right: 25px;
}

.jackets-main h3 {
  color: var(--gray);
  top: -55px;
  left: 117px;
}

.jackets-main p {
  color: var(--dark);
  background-color: var(--gray);
  max-width: max-content;
  position: absolute;
  border-radius: 42px;
  border: 1px solid var(--green);
  padding: 5px;
  top: 0px;
  left: -10px;
}

.jackets-main div {
  width: 322px;
  height: 271px;
  justify-self: center;
  position: relative;
  margin-bottom: 45px;
}

.jackets-main div:hover {
  transform: scale(1.5);
  transition: 0.7s ease;
  z-index: 2;
}

/*----------PRODUCTS PAGE----------*/ /* All styling on the different specific jacket pages. */
.jackets-content {
  background-image: url(../images/jackets-textures.jpg);
  background-size: cover;
  text-align: center;
  height: 100vh;
}

.product-info {
  padding: 3%;
  background-color: var(--gray);
  margin-top: 2%;
}

.product-text p {
  width: 60%;
  font-size: 1em;
  margin: auto;
}

.jackets-buttons a {
  border: 3px solid var(--dark);
  border-radius: 42px;
  padding: 15px;
  color: var(--gray);
  background-color: var(--green);
  margin-bottom: 5%;
}

.purchase-button {
  border: 3px solid var(--dark);
  color: var(--gray);
  background-color: var(--green);
  border-radius: 42px;
  margin-bottom: 5%;
  font-size: 1em;
  padding: 15px;
}

.size-buttons {
  margin: 30px;
  margin-left: auto;
}

.jackets-content img {
  box-shadow: 0 0 15px 0 black;
  margin: auto;
}

.purchase-button:hover,
.jackets-buttons a:hover,
.contact-form input[type="submit"]:hover {
  background-color: var(--darkgray);
  color: black;
  cursor: pointer;
}

.added-to-cart {
  background-color: var(--dark);
  color: var(--gray);
  padding: 1%;
  display: none;
  width: 33%;
  font-size: 0.8em;
  position: relative;
  left: 34%;
}

/*----------CONTACT PAGE----------*/
.contact-main {
  grid-template-columns: 1fr;
  text-align: center;
  background-image: url(../images/textures-small.jpg);
  background-size: cover;
}

.contact-main h1 {
  margin: 0;
  padding-top: 1%;
}

.contact-form {
  display: inline-grid;
  position: relative;
  justify-content: center;
  text-align: center;
  padding-bottom: 10%;
}

.contact-form label {
  position: inherit;
  font-weight: bold;
}

.contact-form input {
  background-color: var(--gray);
  border-radius: 42px;
  margin: 5px;
  padding: 5px;
}

.contact-form input:hover {
  background-color: white;
}

.enquiry {
  margin-top: 15px;
}

#message {
  box-shadow: 2px 2px 5px 0 var(--dark);
  border-radius: 10px;
}

.contact-form input[type="submit"] {
  display: flex;
  justify-content: center;
  background-color: var(--green);
  color: var(--gray);
  border-radius: 42px;
  border: 3px solid var(--dark);
  width: 115px;
  height: 35px;
  margin: 10px auto;
}

.formresult {
  margin: auto;
}

/* Error messages */
#nameError,
#mobileError,
#mailError {
  background-color: var(--pink);
  display: none;
  margin-bottom: 20px;
  max-width: fit-content;
  justify-self: center;
}

/*----------ABOUT PAGE----------*/
.about-section {
  background-color: var(--dark);
  color: var(--gray);
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
  padding-bottom: 5%;
}

.about-section h2 {
  margin: auto;
  background-color: var(--dark);
  width: 80%;
}

.employees {
  display: inline-block;
  color: var(--dark);
  position: relative;
  font-size: 1.2em;
  font-weight: bold;
  background-color: var(--darkgray);
}

.employees div {
  margin: 45px;
}

.employees div:hover {
  transform: scale(1.2);
  transition: 0.5s;
  cursor: pointer;
}

.employees p {
  position: relative;
  bottom: 25px;
}

.staff {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 15px;
}

.employee1 {
  background-image: url(../images/employee1.jpeg);
}
.employee2 {
  background-image: url(../images/employee2.jpeg);
}
.employee3 {
  background-image: url(../images/employee3.jpeg);
}
.employee4 {
  background-image: url(../images/employee4.jpeg);
}

.location-map {
  background-image: url(../images/about-map.png);
  background-size: cover;
  color: var(--dark);
  position: relative;
  width: 250px;
  height: 250px;
  margin: auto;
}

/*----------CHECKOUT PAGE----------*/
.checkout-main {
  display: grid;
  text-align: center;
  justify-items: center;
  background-color: var(--dark);
  height: 100vh;
}

.checkout-summary,
.checkout-payment {
  margin: 5px;
  background-color: var(--gray);
  width: 70%;
  padding: 10px;
}

.checkout-summary div {
  margin-bottom: 5px;
}

#total {
  margin-top: 5%;
}

#nok {
  text-align: right;
}

.checkout-payment input {
  width: 50%;
  border: none;
  border-bottom: 1px solid black;
  display: flex;
  margin: auto;
  text-align: center;
}

.purchase {
  border-radius: 42px;
  background-color: var(--green);
  color: var(--gray);
  border: 1px solid var(--dark);
  padding: 10px;
  position: relative;
  top: 5%;
}

.purchase:hover {
  background-color: var(--darkgray);
  color: var(--dark);
}

.expiry {
  width: 50%;
  margin-left: 25%;
  position: relative;
}

/*----------SUCCESS PAGE----------*/

.success-main {
  display: grid;
  text-align: center;
  background-color: var(--gray);
  grid-auto-rows: max-content;
  justify-items: center;
  padding: 10px;
  height: 70vh;
}

.success-main a {
  border: 3px solid black;
  color: var(--gray);
  background-color: var(--green);
  border-radius: 42px;
  padding: 3%;
  margin: 10px;
}

.success-main a:hover {
  background-color: var(--darkgray);
  color: var(--dark);
}

/*============================Animations============================ */
.loader {
  width: 120px;
  height: 120px;
  color: white;
  border: 12px solid var(--gray);
  border-top: 12px solid var(--green);
  border-radius: 50%;
  font-weight: bold;
  margin: auto;
  animation: load 2s linear infinite;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*============================Media Queries=======================================*/

@media (min-width: 300px) {
  header,
  .welcome {
    justify-items: center;
  }
  .welcome {
    background-position-x: 80%;
  }

  nav li {
    text-align: center;
    display: block;
    padding: 20px 10px;
    margin: 5px;
  }

  header label {
    display: block;
  }

  #hamburger-menu {
    display: none;
  }

  nav ul {
    padding: 0px;
    margin: 0px;
  }

  footer,
  nav li {
    font-size: 0.6em;
    margin: 0px;
  }
}

@media (min-width: 601px) {
  .jackets-main {
    grid-template-columns: auto auto;
    padding-left: 30px;
  }

  .jackets-main h1 {
    display: none;
  }

  .jackets-main h2 {
    font-size: 1.2em;
    right: 25px;
    bottom: 171px;
  }

  .about-section {
    font-size: 1.2em;
  }

  .employees {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-image: url(../images/about-background.jpg);
    background-size: cover;
  }

  .employees p {
    bottom: 50px;
  }
}

@media (min-width: 695px) {
  .inspiration-main {
    grid-template-columns: 1fr 1fr;
  }

  .inspiration-main-image1 {
    margin-top: 52px;
  }

  .success-main {
    padding: 0px 30px;
  }
}

@media (min-width: 800px) {
  .welcome h1 {
    background-color: var(--gray);
    border-radius: 42px;
    color: var(--dark);
    font-size: 2em;
    width: 40%;
    margin-right: 45%;
  }

  .welcome a {
    box-shadow: 1px 1px 5px 5px var(--dark);
    border-radius: 42px;
    background-color: var(--green);
    color: var(--gray);
    font-size: 2.2em;
    padding: 3%;
    width: 40%;
    margin-right: 30%;
  }

  header label {
    display: none;
  }

  nav ul {
    max-width: 800px;
  }

  nav li {
    margin: 6px;
  }

  nav {
    position: static;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  footer,
  nav li {
    display: inline;
    font-size: 1em;
  }

  .product-info {
    background: center;
  }

  .jackets-content-main {
    justify-items: center;
  }

  .jackets-content {
    display: flex;
    justify-content: space-evenly;
  }

  .jackets-content-main img {
    margin: 20% 0% 0% 30%;
  }
  .contact-main {
    background-position: center;
  }

  .enquiry textarea {
    width: 50%;
  }

  .enquiry button {
    margin-top: 10px;
    width: 150px;
    height: 45px;
  }

  .checkout-main {
    grid-template-columns: 1fr 1fr;
  }

  .checkout-main input {
    padding: 2%;
  }

  .checkout-payment,
  .checkout-summary {
    width: 50%;
    font-size: 1.5em;
    height: 80%;
  }

  .success-main a {
    font-size: 1.5rem;
  }
}

@media (min-width: 950px) {
  .inspiration-main-text {
    font-size: 1.3em;
    top: 425px;
    width: 30%;
    left: 36%;
    position: absolute;
  }

  .inspiration-main-image1 {
    border-radius: 0px 0px 0px 244px;
    border: 3px solid var(--green);
  }

  .inspiration-main-image2 {
    border: 3px solid var(--green);
    border-radius: 244px 0px 0px 0px;
  }

  .inspiration-main-image3 {
    border-radius: 0px 0px 244px 0px;
    border: 3px solid var(--green);
  }

  .inspiration-main-image4 {
    border-radius: 0px 244px 0px 0px;
    border: 3px solid var(--green);
  }

  .modal {
    border-radius: 0px;
  }
}

@media (min-width: 1350px) {
  .employees {
    grid-template-columns: repeat(4, 1fr);
    height: 500px;
  }

  .location-map {
    width: 450px;
    height: 450px;
  }

  .contact-form {
    display: grid;
  }
}
